/* Header Bar */
.headerContainer {
  display: flex;
  align-items: center;
  margin: 2em 5em 0em 5em;
  justify-content: space-between;
  font-family: cursive;
  font-weight: 900;
  color: blue;
}

.formButton {
  height: 3em;
  width: 3em;
  border-radius: 1.2em !important;
  background-color: blue !important;
  border: none !important;
}

.formButton:hover {
  transform: scale(1.2);
}

.formInput {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.formInput input,
select {
  margin-left: 0.3em;
}

/* Job Container */
.jobContainer {
  display: grid;
  padding: 3.75em 4em 3.75em 3.75em;
  grid-template-columns: repeat(6, 1fr);
  background-repeat: no-repeat;
  background-size: contain;
}

/* Column Container */
.statusColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

#status {
  border-bottom: 0.15em solid blue;
  width: 70%;
  text-align: center;
  padding: 0.75em;
  font-family: cursive;
  font-weight: 900;
  font-size: 1.5em;
  color: blue;
}

/* Post Container */
.postContainer {
  padding-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.postBox {
  display: flex;
  flex-direction: column;
  border: 0.1em solid gainsboro;
  padding: 0em 0em 0.7em 0.7em;
  margin: 0.5em;
  width: 7.9em;
}

.postBox:hover {
  box-shadow: 0em 0em 1em gainsboro;
  border: none;
  transform: scale(1.5);
}

.postButton {
  border: none;
  background: rgba(0, 0, 0, 0);
  font-size: 0.6em;
  font-weight: 900;
  align-self: flex-end;
}

.postBox p {
  margin: 0em;
  font-size: 0.65em;
}
